ul,li,p,a,body,button{
	margin: 0;
	padding:0; 
}
.w{
	width: 1180px;
	margin:0 auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.bar{
	height: 40px;
	position: relative;
	background-color: white;
}
/*.active{
	position: fixed;
	z-index: 9999;
	top: 0;
}*/
.bar ul{
	margin:0 auto;
	width: 960px;
}
.bar li{
	list-style: none;
	width: 230px;
	height:40px;
	float: left;
	text-align: center;
}
.bar li a{
	text-align: center;
	line-height: 40px;
	display: block;
	font-size: 15px;
	width: 230px;
	height:40px;
	text-decoration: none;
	color: black;	
}
.bar li:hover{
	border-bottom: 2px solid #428bb6;
}
.partone{
	margin-top: 10px;
	height: 550px;
	width: 1180px;
	background-image: url(image/1111.jpg);
	background-size: cover;
	margin-bottom: 20px;
}
/*div.partonemove{
	margin-top:50px; 
}*/
.partone div{
	width: 500px;
	margin-left: 150px;
	padding-top: 70px;
}
.partone p{
	font-size: 15px;
	margin-bottom: 10px;
}
.partone .big{
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold;

}
.partone span{
	display: block;
	height: 35px;
	width: 40px;
}
.partone .more{
	width: 170px;
	height: 40px;
	margin-left: 5px;
	margin-top: 60px;
	padding: 0;
	text-align:center;
	line-height: 40px;
	font-size: 15px;
	border: 1px solid black;
}
.partone .more:hover{
	animation: animationtwo 2s infinite;
}
@keyframes animationtwo{
	50%{
		border-left: 1px solid white;
		border-right: : 1px solid white;

	}
	100%{
		border: 1px solid white;
		color: white;
	}
}
.work{
	height: 550px;
	background-image:linear-gradient(125deg,#273e50,#2980b9,#e74c3c);
	background-size: 400%;
	animation: animationone 15s infinite;
	margin-bottom: 40px;
}
@keyframes animationone {
	0%{
		background-position: 0% 50%;
	}
	25%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}
.work .text{
	width: 250px;
	height: 30px;
	margin:250px 440px;
	font-size: 27px;
	float: left;
	font-weight: bold;
	color: white;
	text-align: center;
	text-transform: uppercase;
}
.fun{
	height: 550px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	background-color: #e8f3f8;
}
.fun .all{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-right: 30px;

}
.fun .all .cards{
	max-width: 300px;
	height: 215px;
	margin: 30px 10px;
	padding:20px 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 5px 20px rgb(0,0,0,0.5);
	transition: 0.3s ease-in-out;
	background-color: white;
}
.fun .all .cards p{
	font-size: 16px;
	font-weight: bold;
}
.fun .all .cards:hover{
	height: 270px;
}
.fun .all .cards .imgbox{
	position: relative;
	width: 260px;
	height: 260px;
	top: -60px;
	left: 0px;
	z-index: 1;
	box-shadow: 0 5px 20px rgb(0,0,0,0.2);

}
.fun .all .cards .imgbox img{
	max-width: 100%;
	border-radius: 4px;
}
.fun .all .cards .content{
	position: relative;
	margin-top: -140px;
	padding:10px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition:0.3 ease-in-out;

} 
.fun .all .cards:hover .content{
	visibility: visible;
	opacity: 1;
	margin-top: -40px;
	transition-delay: 0.3s;
}

.furture{
	height: 550px;
	margin-bottom: 40px;
	border: 1px solid transparent;
	background: url(image/5.jpg) no-repeat;
	background-size: cover;

}

.furture .title{
	height: 200px;
	width: 300px;	
	margin-left:120px; 
	margin-top: 80px;	
}
.furture .title p{
	color: white;
	margin-bottom: 20px;
	font-size: 25px;
}
.furture .title p:hover{
	animation: mvthree 1s 1;
}
@keyframes mvthree{
	50%{
	font-size: 26px;
	
	}
	100%{
		font-size: 27px;
	}
}

